body{
	font-family: 'Work Sans';
	background-color: #E8F1F2;
}

#mark{
	color: #363457;
	font-size: 30px;
	text-align: center;
	font-family: 'Poppins';
	font-weight: 700;
	text-decoration: none;
}

.container{
	margin: 0 auto;
	width: 75%;
	font-family: 'Work Sans', sans-serif;
}

.spacer{
	height: 2em;
}

#hero-row{
	display: flex;
}

.hero-blocks{
	padding-bottom: 3em;
	display: inline-block;
	align-self: flex-end;
}

h1{
	font-size: 40px;
	font-weight: 800;
	text-align: left;
}

#subhead{
	font-size: 26px;
}

.small-text{
	font-size: 16px;
	color: #0A8754;
}

.small-text a{
	font-size: 16px;
	color: #0A8754;
	text-decoration: none;

}

h1{
	font-size: 40px;
	font-weight: 800;
	text-align: left;
}

.small-text:hover{
	color: #FFFFFF;
	font-weight: 700;
}

.small-text a:hover{
	color: #FFFFFF;
	font-weight: 700;
}

img{
	z-index: -1;
	width: 100%;
	left: 0px;
	top: 0px;
}

img#profile{
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h2{
	font-size: 40px;
	font-weight: 800;
	text-align: left;
	color: #363457;
}

div.row.chapter{
	padding-top: 2em;
	padding-bottom: 2em;
}

.paragraph{
	font-size: 22px;
}

p.inverted{
	color: #E8F1F2;
}

h2.inverted{
	color: #E8F1F2;
}

footer{
	background-color: #363457;
}

footer div.row{
	padding-top: 3em;
	padding-bottom: 3em;
}

img#little-face{
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
